{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="chat-container">
        <div class="chat-header">
            Login
        </div>
        <div class="chat-messages" style="justify-content: center; align-items: center; display: flex;">
            {% if user.is_authenticated %}
                <div>
                    <p>You're already logged in as {{ user.email }}.</p>
                    <a href="{% url 'chat_page' %}" style="background-color: #2E5EAA; padding: 10px 20px; border-radius: 15px; color: white; text-decoration: none; transition: background-color 0.2s;">Proceed to chat</a>
                </div>
            {% else %}
            <a href="{% provider_login_url 'google' process='login' %}" style="background-color: #2E5EAA; padding: 10px 20px; border-radius: 15px; color: white; text-decoration: none; transition: background-color 0.2s;">Login with Google</a>

            {% endif %}
        </div>
    </div>
</body>

</html>
