* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f6f8; /* Neutral background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #34495e; /* Dark blue-grey text */
    overflow: hidden;
}

.chat-container {
    width: 100%;
    max-width: 800px;
    height: 90vh;
    border-radius: 10px;
    background-color: #ffffff; /* White chat container */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    overflow: hidden;
}

.chat-header {
    background-color: #e1e8ed; /* Lighter grey header */
    color: #2c3e50; /* Dark text for contrast */
    text-align: center;
    padding: 15px 0;
}

#dynamicContent {
    background-color: #f9f9f9; /* Slightly off-white for differentiation */
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-width: 80%;
    display: inline-block;
}

#dynamicContent label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

#dynamicContent input[type='checkbox'] {
    margin-right: 8px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}

.chat-messages div {
    background-color: #ecf0f1; /* Light grey for messages */
    padding: 8px 15px;
    border-radius: 10px;
    margin: 8px 0;
}

.chat-messages div:nth-child(odd) {
    background-color: #d5d8dc; /* Slightly darker shade for user messages */
    align-self: flex-end;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #e1e8ed;
}

.chat-input input {
    width: 85%;
    padding: 10px;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    outline: none;
    color: #2c3e50;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #a4b0be; /* Neutral button color */
    color: #ffffff; /* White text on button */
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.chat-input button:hover {
    background-color: #7a869a; /* Darkened on hover */
}
